<!-- Loop over each object in the projects array -->
{{#each Cars as |cars| }}

<div class="row mb-4 project">
  <div class="col-md-5">
    <h3>
       {{Cars.Year}} | {{Cars.passengerCapacity}} | {{Cars.MSRP}}
    </h3>
    <ul>
        {{!-- <li>MSRP: {{recalls.ReportReceivedDate}}</li>
        <li>Component: {{recalls.Component}}</li>
        <li>Summary: {{recalls.Summary}}</li>
        <li>Consequence: {{recalls.Consequence}}</li>
        <li>Solution: {{recalls.Remedy}}</li> --}}
    </ul>
  </div>
</div>
{{/each}}