<!-- Loop over each object in the projects array -->
<h2><b>{{recallsResults.Count}}</b> Recall(s) found</h2>
{{#each recallsResults.results as |recalls| }}
<div class="col-md-12">
  <h3>
    {{recalls.Make}} | {{recalls.Model}} | {{recalls.ModelYear}}
  </h3>
  <ul>
    <li><b>Recall received date: </b>{{recalls.ReportReceivedDate}}</li>
    <li><b>Component: </b>{{recalls.Component}}</li>
    <li><b>Summary: </b>{{recalls.Summary}}</li>
    <li><b>Consequence: </b>{{recalls.Consequence}}</li>
    <li><b>Solution: </b>{{recalls.Remedy}}</li>
  </ul>
  <br>
</div>
{{/each}}
<small>All information provided by: National Highway Traffic Safety Administration</small>