<!-- Loop over each object in the projects array -->
{{#each safetyRatings.Results as |safety| }}
  <div class="col-md-12">
    <h2> Showing results for: <b>{{safety.VehicleDescription}}</b></h2>
    <img src="{{safety.VehiclePicture}}"/>
    <br>
      <h4>Overall Safety Rating: <span class="circle-safety">{{safety.OverallRating}}</span></h4>
    <ul>
        <li class="list-styling">Rating breakdown:</li>
        <li>Overall front crash rating: <b>{{safety.OverallFrontCrashRating}}</b></li>
        <li>Overall side crash rating: <b>{{safety.OverallSideCrashRating}}</b></li>
        <li>Total Recalls: <b>{{safety.RecallsCount}}</b></li>
        <li>Total user's complaints received at NHTSA: <b>{{safety.ComplaintsCount}}</b></li>
    </ul>
    <br>
  </div>
{{/each}}
 <small>All information provided by: National Highway Traffic Safety Administration</small>